/*--------- Main ---------------*/
html {
	background: #fff url("../images/body_bg.jpg") repeat;
}

body {
	background: transparent;
	color: #383838;
	font-family: Arial, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	line-height: 1.8em;
	text-align: justify;
}

html,body,#body_wrapper {
	height: 100%;
}

body>#body_wrapper {
	height: auto;
	min-height: 50%;
}

#body_wrapper,#header_wrapper,#footer_wrapper,#slider_wrapper,#brand_wrapper,.row
	{
	height: auto;
	overflow: hidden;
	margin: 0 auto 30px auto;
}

#header_wrapper,#body_wrapper,#footer_content,.row {
	width: 995px;
}

p {
	margin: 10px 0 0 0;
	padding: 0;
}

a,#menu_wrapper a:hover {
	color: #be1a78;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #383838;
}

img {
	border: none;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.separator {
	clear: both;
	border-top: 1px solid #ebebeb;
	height: 1px;
	display: block;
}

.shadow {
	box-shadow: 0 2px 6px #999;
}

.page_title {
	font-size: 26px;
	border-top: 1px solid #D3D3D3;
	padding: 20px 0;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	border-bottom: 1px solid #D3D3D3;
	margin: 0 0 20px 0;
}

#incubation {
	margin-top: -29px;
		}

#incubation a:hover {
	border: none !important;
	}

#incubation img {
	position: relative;
	width: 43px;
	height: auto;
	margin-left: 30px;
}

/*--------- Header ---------------*/
#header_wrapper {
	background: transparent;
	padding: 30px 0 0 0;
}

#logo {
	position: relative;
	float: left;
}

#logo img {
	width: 190px;
	height: auto;
}

#header_title {
	color: #5d5953;
	text-shadow: 0px 1px 1px #aaa;
	padding: 0 0 0 20px;
	width: 25%;
	float: right;
	text-transform: uppercase;
	line-height: 3.1em;
}

#header_title h1 {
	font-size: 24px;
	padding: 4px 0;
	margin: 0;
	letter-spacing: 5px;
}

#menu_wrapper {
	display: block;
	float: right;
	font-size: 14px;
	padding-top: 37px;
}

#menu_wrapper ul {
	float: left;
	clear: both;
	padding-left: 2px;
	margin: 0;
}

#menu_wrapper ul li {
	display: block;
	float: left;
	list-style: none;
	padding-right: 35px;
	text-transform: uppercase;
}

#menu_wrapper a {
	color: #383838;
}

#menu_wrapper a:hover,#menu_wrapper li.current_menu_item a {
	border-bottom: 4px solid #be1a78;
	padding-bottom: 4px;
}

#menu_wrapper a:hover {
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

#menu_wrapper li.current_menu_item a {
	color: #be1a78;
}

/*--------- Slider Wrapper ---------------*/
#slider_wrapper {
	width: 100%;
	background: url("../images/slider_bg.png") repeat-x;
	color: #fff;
	height: 560px;
	text-align: center;
}

#slider_wrapper h1 {
	font-size: 30px;
	text-align: center;
	font-weight: normal;
	padding: 35px 0 10px 0;
}

#player {
	width: 650px;
	height: 350px;
	margin: 30px auto;
	border-radius: 2px;
	box-shadow: 0 2px 18px #383838;
}

.home_player {
	height: 393px !important;
}

.fake_player_button {
	background: url("../images/buttons/fake_player_button.png") no-repeat;
	display: block;
	height: 83px;
	width: 136px;
	position: absolute;
	margin-top: -270px;
	margin-left: 255px;
}

#player:hover .fake_player_button {
	background: url("../images/buttons/fake_player_button_hover.png")
		no-repeat;
}

/*--------- Body Wrapper ---------------*/ /* Home Page
------------------------------ */
#brand_wrapper,.community_links,.download_wrapper {
	padding: 9px 0;
	position: relative;
	width: 100%;
}

#brand_wrapper h1,.community_item h2,.download_item h1 {
	color: #383838;
	font-weight: normal;
	text-align: center;
	line-height: 1;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	padding: 12px 0;
	font-size: 23px;
}

#brand_wrapper .brand_item {
	float: left;
	width: 30%;
	margin-right: 49px;
	text-align: center;
}

.last_item {
	margin-right: 0 !important;
}

#visual,#declarative,#easy {
	display: block;
	margin: 20px auto;
	width: 100px;
	height: 100px;
}

#visual {
	background: url("../images/icons/icon_visual.png") no-repeat;
}

#declarative {
	background: url("../images/icons/icon_declarative.png") no-repeat;
}

#easy {
	background: url("../images/icons/icon_easy.png") no-repeat;
}

.learn_more {
	display: block;
	width: 240px;
	height: 40px;
	margin: auto;
	text-align: center;
	line-height: 40px;
	color: #fff !important;
	background-color: #be1a78 !important;
	text-transform: uppercase;
	color: #fff !important;
}

.learn_more:hover {
	background-color: #7269a4 !important;
}

/* Download Bottom Banner
------------------------------ */
#download_banner_wrapper {
	position: fixed;
	display: block;
	bottom: 0;
	height: 50px;
	z-index: 2500;
	-webkit-transition: all 1500ms ease;
	-moz-transition: all 1500ms ease;
	-ms-transition: all 1500ms ease;
	-o-transition: all 1500ms ease;
	transition: all 1500ms ease;
	display: block;
	background-color: #7269a4;
}

#download_banner_content {
	width: 500px;
	margin: 0 auto;
}

#download_banner_content p,#download_banner_content a {
	font-size: 14px;
	text-transform: uppercase;
	margin: 7px;
	line-height: 35px;
	font-weight: bold;
	letter-spacing: 1px;
}

#download_banner_content a {
	display: block;
	width: 180px;
	height: 35px;
	text-align: center;
	color: #fff;
	background-color: #be1a78;
}

#download_banner_content a:hover {
	background-color: #fff;
	color: #261e58;
}

/* Overview Page
------------------------------ */
h1.intro {
	font-size: 23px;
	line-height: 1.7 !important;
	font-weight: normal;
	margin-bottom: 30px;
	color: #000;
}

.section,.install_section {
	margin: 15px 0 40px 0;
}

.section:FIRST-CHILD,.install_section:FIRST-CHILD {
	margin-top: 0;
}

.section:after {
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
	content: ".";
}

.section.left {
	padding-right: 470px;
}

.section.left .image {
	float: right;
	margin-right: -477px;
	margin-top: 25px;
}

.section.right {
	padding-left: 483px;
}

.section.right .image {
	float: left;
	margin-left: -490px;
	margin-top: 25px;
}

.image:after,.bottom_content .lnk:after {
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
	content: "."
}

.image img {
	margin: 0 10px 20px;
	float: left;
}

.bottom_content {
	background-image: url("/images/banners/banner_background.png")
		!important;
	min-height: 112px;
	padding: 25px;
	color: #fff;
}

.bottom_content .lnk {
	margin: 15px 0 !important;
	float: none;
}

/*	Tabs in Donwnload Page
-----------------------------*/
#tabs_wrapper {
	width: 100%;
}

#tabs_container {
	margin-top: 35px;
}

#tabs_content_container p {
	margin-left: 0 !important;
}

#tabs {
	list-style: none;
	padding: 9px 0;
	margin: 0 0 0 1px;
}

#tabs li {
	float: none;
	width: auto;
	margin: 0;
	padding-right: 12px;
	list-style-type: none;
	display: inline;
	z-index: 1;
	color: #fff;
	position: relative;
}

#tabs li span {
	padding: 12px 40px 20px;
	text-decoration: none;
	border: 1px solid #dfdfdf;
	outline: none;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	position: relative;
	background-image: linear-gradient(top, #d3d3d3 4%, #f1f1f1 100%);
	background-image: -o-linear-gradient(top, #efefef 4%, #fff 100%);
	background-image: -moz-linear-gradient(top, #d3d3d3 4%, #f1f1f1 100%);
	background-image: -webkit-linear-gradient(top, #d3d3d3 4%, #f1f1f1 52%);
	background-image: -ms-linear-gradient(top, #d3d3d3 4%, #f1f1f1 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.04, #d3d3d3
		), color-stop(1, #f1f1f1) );
	margin-left: -1px;
	color: #334541;
	font-weight: normal;
	background-image: linear-gradient(top, #d3d3d3 4%, #f1f1f1 100%);
	background-image: -o-linear-gradient(top, #efefef 4%, #fff 100%);
	background-image: -moz-linear-gradient(top, #d3d3d3 4%, #f1f1f1 100%);
	background-image: -webkit-linear-gradient(top, #d3d3d3 4%, #f1f1f1 52%);
	background-image: -ms-linear-gradient(top, #d3d3d3 4%, #f1f1f1 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.04, #d3d3d3
		), color-stop(1, #f1f1f1) );
}

*>#tabs li span {
	background-color: #d3d3d3;
}

*>#tabs li.active span {
	background-color: #f1f1f1;
}

#tabs li span:hover {
	text-decoration: none !important;
	cursor: pointer;
}

#tabs li.active span,#tabs li.active span:hover,#tabs li span:hover {
	background-image: linear-gradient(top, #efefef 4%, #fff 100%);
	background-image: -o-linear-gradient(top, #efefef 4%, #fff 100%);
	background-image: -moz-linear-gradient(top, #efefef 4%, #fff 100%);
	background-image: -webkit-linear-gradient(top, #efefef 4%, #fff 52%);
	background-image: -ms-linear-gradient(top, #efefef 4%, #fff 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.04, #efefef
		), color-stop(1, #fff) );
	color: #333;
	border: 1px solid #dfdfdf;
	border-bottom: 1px solid #fff;
}

#tabs li.active span {
	font-weight: bold;
}

#tabs li.active {
	position: relative;
	z-index: 2;
}

#tabs_content_container {
	padding: 20px;
	text-align: justify;
	/*background-color: #fff;
		border: 1px solid #dfdfdf;*/
	position: relative;
	z-index: 1;
	margin-top: 10px;
}

.tab_content {
	display: none;
}

#tabs_content_container .dwnld_wrapper {
	display: inline-block;
}

#tabs_content_container ul.installnav {
	float: left;
	padding: 0;
	width: 973px;
	background-color: #fff;
	border: 1px solid #dfdfdf;
	border-left: none;
}

#tabs_content_container ul.installnav li {
	display: inline;
}

#tabs_content_container ul.installnav li a p {
	font-size: 10px;
	margin: 10px 0;
}

#tabs_content_container ul.installnav li a {
	display: block;
	text-align: left;
	text-decoration: none;
	background: url("../images/download/installnav_bg.png") no-repeat 0 0;
	box-shadow: 2px 0 6px #777;
	width: 165px;
}

#tabs_content_container ul.installnav li.active a,#tabs_content_container ul.installnav li.active a:hover
	{
	color: #282828;
	outline: none;
	background: url("../images/download/installnav_active_bg.png") no-repeat
		right;
	box-shadow: none;
	width: 186px;
	border: none;
}

#tabs_content_container ul.installnav li a:hover {
	background: #fff;
	background: url("../images/download/installnav_hover_bg.png") no-repeat
		0 0;
	cursor: pointer;
}

#tabs_content_container ul.installnav li.active a span {
	text-align: center;
	border-right: none;
}

#tabs_content_container ul.installnav li a span {
	display: block;
	width: 164px;
	height: 122px;
	padding: 40px 0;
	text-align: center;
	color: #595959;
	border: 1px solid #dfdfdf;
}

#tabs_content_container ul.installnav li a span p.recommended {
	margin-top: -14px;
	color: #999;
}

#tabs_content_container h2 {
	font-size: 14px;
}

.updateSiteBlock,.drag2install_tooltip {
	color: #fff;
	display: none;
	position: absolute;
	visibility: visible;
	top: 16px;
}

.drag2install_tooltip {
	width: 356px;
	height: 55px;
	background-image: url("../images/download/tooltip_bg.png");
	background-repeat: no-repeat;
	z-index: 12;
	left: 290px;
	top: 45px;
}

.updateSiteBlock {
	background: none repeat scroll 0 0 #7269a4;
	padding: 10px;
	width: 315px;
	z-index: 10;
	left: 290px;
	top: 20px;
}

.updateSiteBlock input[type="text"] {
	width: 273px;
}

.updateSiteBlock p {
	margin: 0 0 1px 0 !important;
	width: 250px;
}

.updateSiteBlock input {
	width: 200px;
}

.updateSiteBlock a {
	color: #fff;
	text-decoration: underline;
}

.updateSiteBlock a:hover {
	text-decoration: none;
}

.updateSite a:hover .updateSiteBlock {
	display: block;
	visibility: visible;
}

.closeButtonUpdateSite img {
	float: right;
	position: relative;
	margin: 0;
}

#content_emc {
	display: block;
}

#content_drag2install,#content_updatesite,#content_emc,#content_drag2install_1,#content_updatesite_1,#content_emc_1
	{
	float: right;
	position: absolute;
	top: 70px;
	left: 185px;
	padding: 0 50px;
	background: transparent;
	cursor: default;
}

#content_drag2install p,#content_updatesite p,#content_emc p,#content_drag2install_1 p,#content_updatesite_1 p,#content_emc_1 p
	{
	margin-left: 20px !important;
}

#content_drag2install,#content_updatesite,#content_drag2install_1,#content_updatesite_1
	{
	display: none;
	margin-bottom: 20px;
}

#content_drag2install a,#content_updatesite a,#content_emc a,#content_drag2install_1 a,#content_updatesite_1 a,#content_emc_1 a
	{
	background: transparent !important;
	display: inline !important;
	color: #be1a78 !important;
	cursor: pointer;
}

#content_drag2install a:hover,#content_updatesite a:hover,#content_emc a:hover,#content_drag2install_1 a:hover,#content_updatesite_1 a:hover,#content_emc_1 a:hover
	{
	text-decoration: underline !important;
}

#install,#install_1,#closeButton,.drag2install:hover {
	cursor: pointer;
}

#updatesite:hover,#install_emc:hover {
	cursor: default;
}

.link-color {
	color: #148EC5;
}

.clear {
	clear: both;
	height: 1px;
}

#install_1 img {
	margin: 40px 0 10px 0;
}

.updateSite img {
	margin: 40px 0 0 0;
}

/* Download & Update Site Buttons
----------------------------------------------------------- */
#updateSiteBlock {
	background: none repeat scroll 0 0 #7269a4;
	color: #fff;
	border: 1px solid #ECECEC;
	border-radius: 5px 5px 5px 5px;
	display: none;
	padding: 10px;
	position: absolute;
	right: 450px;
	top: 560px;
	width: 265px;
	z-index: 10;
	font-size: 12px;
}

#closeButtonUpdateSite {
	float: right;
	position: relative;
}

#closeButton,#closeButtonUpdateSite {
	cursor: pointer;
}

#updateSiteBlock p {
	margin-top: 0;
	width: 200px;
}

#updateSiteBlock input {
	width: 200px;
}

/*--------- Community Page ------------*/
.community_links h1 {
	margin-bottom: 0 !important;
	font-weight: normal;
	color: #000;
}

.community_links,.download_wrapper {
	float: left;
}

.community_item {
	float: left;
	width: 27%;
	margin-right: 92px;
}

.community_item p {
	text-align: justify;
	width: 100%;
}

.community_item h2 {
	font-size: 18px;
}

.community_item a {
	color: #383838;
	font-weight: normal;
}

.community_item a:hover {
	color: #be1a78;
}

.community_icons {
	display: block;
	margin: 0 20px 40px 0;
	float: left;
	height: 50px;
	width: 50px;
}

#start {
	background: url("../images/icons/icon_start.png") no-repeat;
}

#doc {
	background: url("../images/icons/icon_doc.png") no-repeat;
}

#wiki {
	background: url("../images/icons/icon_wiki.png") no-repeat;
}

#forum {
	background: url("../images/icons/icon_forum.png") no-repeat;
}

#bug {
	background: url("../images/icons/icon_bug.png") no-repeat;
}

#support {
	background: url("../images/icons/icon_support.png") no-repeat;
}

#mailing {
	background: url("../images/icons/icon_mailing.png") no-repeat;
}

#code {
	background: url("../images/icons/icon_code.png") no-repeat;
}

#project {
	background: url("../images/icons/icon_project.png") no-repeat;
}

#start:hover {
	background: url("../images/icons/icon_start_hover.png") no-repeat;
}

#doc:hover {
	background: url("../images/icons/icon_doc_hover.png") no-repeat;
}

#wiki:hover {
	background: url("../images/icons/icon_wiki_hover.png") no-repeat;
}

#forum:hover {
	background: url("../images/icons/icon_forum_hover.png") no-repeat;
}

#bug:hover {
	background: url("../images/icons/icon_bug_hover.png") no-repeat;
}

#support:hover {
	background: url("../images/icons/icon_support_hover.png") no-repeat;
}

#mailing:hover {
	background: url("../images/icons/icon_mailing_hover.png") no-repeat;
}

#code:hover {
	background: url("../images/icons/icon_code_hover.png") no-repeat;
}

#project:hover {
	background: url("../images/icons/icon_project_hover.png") no-repeat;
}

/* Footer
------------------------------ */
#footer_wrapper,#download_banner_wrapper {
	clear: both;
	width: 100%;
	color: #fff;
}

#footer_wrapper {
	position: relative;
	padding: 30px 0 90px 0;
	font-size: 10px;
	background-color: #261e58;
}

#footer_content {
	margin: 0 auto;
}

#footer_wrapper a {
	color: #fff;
	font-weight: normal;
	color: #c2bfd8;
}

#footer_wrapper a:hover {
	color: #fff;
}

#footer_wrapper ul {
	list-style: none;
	padding: 0
}

#footer_wrapper .column {
	width: 20%;
	padding: 0 0 0 199px;
	float: left;
	position: relative;
}

#footer_wrapper .column:FIRST-CHILD {
	padding: 0;
}

#footer_wrapper .column .columntitle {
	position: relative;
	width: 100%;
	border-bottom: 1px solid #fff;
}

#footer_wrapper .column h3 {
	padding-bottom: 5px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 0;
	text-transform: uppercase;
	margin: 0;
}

#footer_wrapper .column.right {
	width: 184px;
}