<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-language" content="en">
	<meta name="description" content="Graphical Editors for your DSL">

	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="angular/sirius.js"></script>

	<link rel="icon" type="image/png" href="favicon.ico" />
	<title>Sirius - Download</title>
	<link type="text/css" rel="stylesheet" href="css/style.css" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300italic,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://use.fontawesome.com/ef6567f233.css">
	<script src="https://kit.fontawesome.com/16edf37727.js" crossorigin="anonymous"></script>
	<!-- Eclipse Foundation Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-5WLCZXC');</script>
	<!-- End Google Tag Manager -->

	<!-- Eclipse Foundation cookie consent: -->
	<link rel="stylesheet" type="text/css" href="//www.eclipse.org/eclipse.org-common/themes/solstice/public/stylesheets/vendor/cookieconsent/cookieconsent.min.css" />
	<script src="//www.eclipse.org/eclipse.org-common/themes/solstice/public/javascript/vendor/cookieconsent/default.min.js"></script>
	<script type="text/javascript" src="js/ga.js"></script>
</head>

<body ng-app="sirius" ng-controller="main" class="cloak">
<ng-include src="'angular/blocks/header.html'"></ng-include>

<div id="body_wrapper">
	<h1 class="page_title">Download Sirius Desktop</h1>

	<div id="tabs_content_container">

		<div id="tab_eclipse" class="tab_content" style="display: block">
			<div class="dwnld_wrapper">

				<ul class="installnav" ng-init="tab = 1">
					<li id="eclipse_package" ng-class="{'active': tab === 1}">
						<a ng-click="tab = 1">
							<span>
								<img src="images/download/icon_packages.png" alt="Eclipse ready-to-Use package" />
								<p>Ready-to-Use Package</p>
							</span>
						</a>

						<div id="eclipse_package_content" ng-show="tab === 1">
							<h2>Download a Ready-to-Use Package</h2>

							<p>This free package has been created by Sirius commiters to facilitate your first steps with Sirius. It contains Sirius, neatly integrated with other Open Source technologies (EMF Compare, eGit and SWTBot).</p>
							<p><a class="btn btn_large" href="http://www.obeodesigner.com/download" target="_blank">Download Obeo Designer Community</a></p>
							<br />

							<ng-include src="'angular/blocks/help_block.html'"></ng-include>
							<ng-include src="'angular/blocks/collab_web_block.html'"></ng-include>

						</div>
					</li>

					<li id="eclipse_drag2install" ng-class="{'active': tab === 2}">
						<a ng-click="tab = 2">
							<span>
								<img src="images/download/icon_drag2install.png" alt="Drag to Install Icon" />
								<p>Drag to Install</p>
							</span>
						</a>
						<div id="content_drag2install_1" class="ng-hide" ng-show="tab === 2">
							<h2>Install Sirius with the Drag'n Drop Install</h2>
							<p><a id="install_1" href="http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=1318261" ng-mouseenter="popupTooltip = true" ng-mouseleave="popupTooltip = false">
								<img src="images/download/drag2install_button.png" id="drag2install_img" /></a>
							</p>
							<div class="drag2install_tooltip" ng-show="popupTooltip === true">
								<p>Drag to your running Eclipse workspace!</p>
							</div>
							<p><strong>Requirement:</strong> Please make sure that Marketplace is already installed in your Eclipse, otherwise these installation instructions won't work as expected.</p>
							<br />

							<ng-include src="'angular/blocks/help_block.html'"></ng-include>
							<ng-include src="'angular/blocks/collab_web_block.html'"></ng-include>

						</div>
					</li>

					<li id="eclipse_install_emc" ng-class="{'active': tab === 3}">
						<a ng-click="tab = 3">
							<span>
								<img src="images/download/icon_emc.png" alt="Marketplace Icon">
								<p>Marketplace</p>
							</span>
						</a>
						<div id="content_emc_1" class="ng-hide" ng-show="tab === 3">
							<h2>Install Sirius with Eclipse Marketplace</h2>

							<p>Browse the Marketplace, choose Sirius and just click on the install button.</p>
							<p><img src="images/download/install_marketplace_module.png" alt="Obeo Marketplace"></p>

							<p><strong>Requirement:</strong> Please make sure that Marketplace is already installed in your Eclipse, otherwise these installation instructions won't work as expected. For more details, please refer to <a href="http://marketplace.eclipse.org/marketplace-client-intro" target="_blank">Introducing the Eclipse Marketplace Client</a> installation guide.</p>

							<ng-include src="'angular/blocks/help_block.html'"></ng-include>

						</div>
					</li>

					<li id="eclipse_updatesite" ng-class="{'active': tab === 4}">
						<a ng-click="tab = 4">
							<span>
								<img src="images/download/icon_updatesite.png" alt="Drag to Install Icon" />
								<p>Update Site</p>
							</span>
						</a>

						<div id="content_updatesite_1" class="ng-hide" ng-show="tab === 4">
							<h2>Install Sirius from Update Site</h2>

							<h3>Latest Release</h3>
							<p>Add this URL to your Eclipse Installation to reach Sirius Update Site.</p>
							<input type="text" value="http://download.eclipse.org/sirius/updates/releases/6.4.1/2020-06" />
							<p>You can also download the corresponding <a href="http://download.eclipse.org/sirius/updates/releases/6.4.1/org.eclipse.sirius-6.4.1-2020-06.zip">zipped archive</a> for offline installation.</p>
							<br />

							<h3>Latest Nightly</h3>
							<p>Add this URL to your Eclipse Installation to reach Sirius Update Site.</p>
							<input type="text" value="http://download.eclipse.org/sirius/updates/nightly/latest/2020-06" />
							<br />
							<br />

							<ng-include src="'angular/blocks/help_block.html'"></ng-include>

						</div>
					</li>
				</ul>
			</div>
		</div>

		</div>

</div> <!-- Fin body_wrapper -->

<div class="clear"></div>
<ng-include src="'angular/blocks/footer.html'"></ng-include>
<ng-include src="'angular/blocks/call2action.html'"></ng-include>
</body>
</html>
